{
	admin off
	cache {
		ttl 27h
		mode bypass
		default_cache_control public, max-age=86400
		key {
			disable_scheme
		}
		nuts {
			configuration {
				Dir /data/nuts
				EntryIdxMode 1
				RWMode 0
				SegmentSize 1024
				NodeNum 42
				SyncEnable true
				StartFileLoadingMode 1
			}
		}
	}
}

:80
@tracingEnabled expression {env.OTEL_EXPORTER_OTLP_TRACES_ENDPOINT} != ""
encode

@anime_titles {
	method GET HEAD
	path /api/anime-titles.xml.gz /httpapi/anime-titles.xml.gz /api/anime-titles.dat.gz /httpapi/anime-titles.dat.gz
}
handle @anime_titles {
	rewrite /httpapi/anime-titles.dat.gz /api/anime-titles.dat.gz
	rewrite /httpapi/anime-titles.xml.gz /api/anime-titles.xml.gz
	handle @tracingEnabled
	cache
	tracing {
		span {path}
	}
	reverse_proxy https://anidb.net {
		@nocache 			status 3xx 4xx 5xx
		handle_response @nocache {
					header Cache-Control "no-store"
		
	copy_response_headers {
		exclude Cache-Control
	}

		copy_response
		}
		header_up Host {upstream_hostport}
		header_up User-Agent "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Brave Chrome/92.0.4515.131 Safari/537.36"
		header_up -X-Forwarded-For
		header_up -X-Forwarded-Host
		header_up -X-Forwarded-Proto
		header_up Accept-Encoding identity
		header_down -Cache-Control
		header_down -Report-To
		header_down -Content-Security-Policy-Report-Only
		header_down -Cross-Origin-Opener-Policy
		header_down -Cross-Origin-Resource-Policy
		header_down -Link
	}
}

@anidbhttp {
	method GET
	path /httpapi
}


handle @anidbhttp {
	cache
	handle @tracingEnabled
	tracing {
		span {path}
	}

	rate_limit {
		zone static {
			match {
				method GET
			}
			key    static
			events 1
			window 5s
		}
	}

	reverse_proxy http://api.anidb.net:9001 {
		@nocache 			status 3xx 4xx 5xx
handle_response @nocache {
	header Cache-Control "no-store"

	copy_response_headers {
		exclude Cache-Control
	}

	copy_response
}

		header_up Host {upstream_hostport}
		header_up -X-Forwarded-For
		header_up -X-Forwarded-Host
		header_up -X-Forwarded-Proto
		header_up Accept-Encoding identity
		header_down -Cache-Control
		header_down -Report-To
		header_down -Content-Security-Policy-Report-Only
		header_down -Cross-Origin-Opener-Policy
		header_down -Cross-Origin-Resource-Policy
		header_down -Link
	}
}

@images {
	method GET HEAD
	path /images/main/* /httpapi/images/main/*
}
handle @images {
	rewrite /httpapi/images/main/ /images/main/
	handle @tracingEnabled
	cache
	tracing {
		span {path}
	}
	reverse_proxy https://cdn.anidb.net {
		@nocache 			status 3xx 4xx 5xx
handle_response @nocache {
	header Cache-Control "no-store"

	copy_response_headers {
		exclude Cache-Control
	}

	copy_response
}

		header_up Host {upstream_hostport}
		header_up User-Agent "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Brave Chrome/92.0.4515.131 Safari/537.36"
		header_up -X-Forwarded-For
		header_up -X-Forwarded-Host
		header_up -X-Forwarded-Proto
		header_up Accept-Encoding identity
		header_down -Cache-Control
		header_down -Report-To
		header_down -Content-Security-Policy-Report-Only
		header_down -Cross-Origin-Opener-Policy
		header_down -Cross-Origin-Resource-Policy
		header_down -Link
	}
}

@search {
	method GET
	path /httpapi/search
}
handle @search {
	cache {
		ttl 1h
		default_cache_control public, max-age=3600
	}
	handle @tracingEnabled
	tracing {
		span {path}
	}

	rewrite * /index.php?task=search&{query}
	reverse_proxy https://anisearch.outrance.pl {
		@nocache  status 3xx 4xx 5xx
handle_response @nocache {
	header Cache-Control "no-store"

	copy_response_headers {
		exclude Cache-Control
	}

	copy_response
}
		header_up Host {upstream_hostport}
		header_up -X-Forwarded-For
		header_up -X-Forwarded-Host
		header_up -X-Forwarded-Proto
		header_up Accept-Encoding identity
		header_down -Cache-Control
		header_down -Report-To
		header_down -Content-Security-Policy-Report-Only
		header_down -Cross-Origin-Opener-Policy
		header_down -Cross-Origin-Resource-Policy
		header_down -Link
	}
}

# Debug endpoint, to check if any private information gets leaked
@debug {
	method GET
	path /debug
}
handle @debug {
	rewrite * /get
	reverse_proxy https://httpbin.org {
		header_up Host {upstream_hostport}
		header_up -X-Forwarded-For
		header_up -X-Forwarded-Host
		header_up -X-Forwarded-Proto
		header_up Accept-Encoding identity
		header_down -Cache-Control
		header_down -Report-To
		header_down -Content-Security-Policy-Report-Only
		header_down -Cross-Origin-Opener-Policy
		header_down -Cross-Origin-Resource-Policy
		header_down -Link
	}
}

respond / 204
respond 404
