{
	admin off
	order error_body_status before respond
	order min_duration before respond
	cache {
		ttl 27h
		default_cache_control public, max-age=86400
		key {
			disable_scheme
			disable_host
		}
		nuts {
			configuration {
				Dir /data/nuts
				EntryIdxMode 1
				NodeNum 42
				EnableHintFile true
				EnableMergeV2 true
			}
		}
	}
}

:80
log {
	output stdout
	format json
}
@healthcheck {
	remote_ip 127.0.0.1
	path /
	header User-Agent Wget
}
log_skip @healthcheck
@tracingEnabled expression {env.OTEL_EXPORTER_OTLP_TRACES_ENDPOINT} != ""
@compressible {
	not path *.gz
}
encode @compressible

@anime_titles {
	method GET HEAD
	path /api/anime-titles.xml.gz /httpapi/anime-titles.xml.gz /api/anime-titles.dat.gz /httpapi/anime-titles.dat.gz
}
handle @anime_titles {
	rewrite /httpapi/anime-titles.dat.gz /api/anime-titles.dat.gz
	rewrite /httpapi/anime-titles.xml.gz /api/anime-titles.xml.gz
	handle @tracingEnabled
	cache
	tracing {
		span {path}
	}
	min_duration {
		duration 2s
	}
	error_body_status {
		prefix `<error code="500">`
		status 500
		max_bytes 256
	}
	reverse_proxy https://anidb.net {
		header_up Host {upstream_hostport}
		header_up User-Agent "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Brave Chrome/92.0.4515.131 Safari/537.36"
		header_up -X-Forwarded-For
		header_up -X-Forwarded-Host
		header_up -X-Forwarded-Proto
		header_up Accept-Encoding identity
		header_down -Cache-Control
		header_down -Report-To
		header_down -Content-Security-Policy-Report-Only
		header_down -Cross-Origin-Opener-Policy
		header_down -Cross-Origin-Resource-Policy
		header_down -Link
	}
	log_append upstream_host {rp.upstream.host}
	log_append cache_status {http.response.header.Cache-Status}
}

@anidbhttp {
	method GET
	path /httpapi
}
handle @anidbhttp {
	cache
	handle @tracingEnabled
	tracing {
		span {path}
	}

	min_duration {
		duration 2s
	}
	error_body_status {
		prefix `<error code="500">`
		status 500
		max_bytes 256
	}
	reverse_proxy http://api.anidb.net:9001 {
		header_up Host {upstream_hostport}
		header_up -X-Forwarded-For
		header_up -X-Forwarded-Host
		header_up -X-Forwarded-Proto
		header_up Accept-Encoding identity
		header_down -Cache-Control
		header_down -Report-To
		header_down -Content-Security-Policy-Report-Only
		header_down -Cross-Origin-Opener-Policy
		header_down -Cross-Origin-Resource-Policy
		header_down -Link
	}
	log_append upstream_host {rp.upstream.host}
	log_append cache_status {http.response.header.Cache-Status}
}

@images {
	method GET HEAD
	path /images/main/* /httpapi/images/main/*
}
handle @images {
	rewrite /httpapi/images/main/ /images/main/
	handle @tracingEnabled
	cache
	tracing {
		span {path}
	}
	reverse_proxy https://cdn.anidb.net {
		header_up Host {upstream_hostport}
		header_up User-Agent "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Brave Chrome/92.0.4515.131 Safari/537.36"
		header_up -X-Forwarded-For
		header_up -X-Forwarded-Host
		header_up -X-Forwarded-Proto
		header_up Accept-Encoding identity
		header_down -Cache-Control
		header_down -Report-To
		header_down -Content-Security-Policy-Report-Only
		header_down -Cross-Origin-Opener-Policy
		header_down -Cross-Origin-Resource-Policy
		header_down -Link
	}
	log_append upstream_host {rp.upstream.host}
	log_append cache_status {http.response.header.Cache-Status}
}

@search {
	method GET
	path /httpapi/search
}
handle @search {
	cache {
		ttl 1h
		default_cache_control public, max-age=3600
	}
	handle @tracingEnabled
	tracing {
		span {path}
	}

	rewrite * /index.php?task=search&{query}
	reverse_proxy https://anisearch.outrance.pl {
		header_up Host {upstream_hostport}
		header_up -X-Forwarded-For
		header_up -X-Forwarded-Host
		header_up -X-Forwarded-Proto
		header_up Accept-Encoding identity
		header_down -Cache-Control
		header_down -Report-To
		header_down -Content-Security-Policy-Report-Only
		header_down -Cross-Origin-Opener-Policy
		header_down -Cross-Origin-Resource-Policy
		header_down -Link
	}
	log_append upstream_host {rp.upstream.host}
	log_append cache_status {http.response.header.Cache-Status}
}

respond / 204
respond 404
